/* ************************************************************ */

    /* Theme Color: 3E528C Ocean Blue*/
    /* Theme Color: 8F25E9 Ocean Blue*/

    
/* ************************************************************ */

/* Whole Page Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./img/background-wallpaper.jpg');
}

#mid-section {
    padding-left: 400px;
    padding-right: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: pink;
}



/* ******************************************************* */
            /* WHITE HEADER STRIP */
/* ******************************************************* */

#white-strip-color {
    background-color: #E92563;
    /* background-color: white; */
}

#white-header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 15px;
    /* background-color: tomato;
    padding-left: 150px;
    padding-right: 150px; */
    
}

#white-strip-l {
    /* background-color: #009993; */
    display: flex;
    align-self: center;
}

#white-strip-r {
    display: flex;
    flex-direction: row;
    margin: 5px;
    /* background-color: pink; */
    align-items: center;
}

#is-small {
    
    background-color: #009993;
    width: max-content;
    height: max-content;
    padding: 7px 15px;
    border-radius: 4px;
}

/* ******************************************************* */
            /* Remphi Intro */
/* ******************************************************* */
#remphi-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    background-color: white;
    padding: 11px;
}

#remphi-intro-r {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#remphi-intro-l {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#remphi-intro-logo {
    width: 55px;
    margin-right: 10px;
}

#remphi-intro-remphi{
    font-size: 30px;
}

#download-app-logo {
    padding: 5px;
    margin-right: 5px;
}

/* ******************************************************* */
            /* Navbar */
/* ******************************************************* */

#full-nav {
    background-color: #E92563;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Oxygen', sans-serif;
    font-weight: 700;
    flex-shrink: 0;
    flex-wrap: wrap;
}
#nav-app-logo {
    padding: 10px;
}

#nav-l {
    display: flex;
    flex-direction: row;
    align-self: center;
    flex-shrink: 0;
    flex-wrap: wrap;
}

#nav-element {
    padding: 10px;
    align-self: center;
    font-weight: 700;
    flex-shrink: 0;
}

#nav-element.h1 {
    font-weight: 800;
}


/* ******************************************************* */
            /* Instant Order Booking  */
/* ******************************************************* */
#instant-order-booking {
    background-color: white;
   margin-top: 10px;
}

#instant-o-image {
    width: 500px;
    height: 280px;
}

#instant-info-block{
    /* background-color: violet; */
    padding: 5px;
    padding-right: 50px;
}

#instant-o-b {
    display: flex;
    flex: 1;
    flex-direction: row;
    border-radius: 0;
    border-width: 1px;
    border-color: black;
}

#instant-info-side {
    display: flex;
    justify-content: space-between;
}

#button-next {
    background-color: #00AEA6;
    padding: 10px 30px;
    font-family: 'Open Sans';
    font-weight: 700;
    color: white;
}

#instant-o-image {
    margin: 50px;
    align-self: center;
    width: max-content;
    height: 1;
    background-color: black;
}

/* ******************************************************* */
            /* Our Services  */
/* ******************************************************* */

#our-services {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;

    border-top: 0.1px solid;
    padding-bottom: 20px;
    /* border-top-color: black;
    border-top-width: thin;
    border-style: solid; */
}

#our-l {
    /* background-color: royalblue; */
    margin-top: 20px;
    padding: 10px;
}

#services-m {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 30px;
}

#services-m-r {
    /* background-color: pink; */
    display: flex;
    flex: 2;
    flex-direction: column;
    padding: 30px;
}

#service-e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 5px;
    /* background-color: rebeccapurple; */
    box-shadow:  -1px 1px #E92563,
         -2px 2px #E92563,
         -3px 3px #E92563,
         -4px 4px #E92563,
         -5px 5px #E92563;
}

#why-remphi-title {
    font-size: 18px; 
    font-family: 'Open Sans'; 
    color: black; 
    font-weight: 700;
}

#why-remphi-subtitle {
    font-size: 15px;
    margin-top: 10px;
}

#why-remphi-info {
    /* background-color: plum; */
}

/* ******************************************************* */
            /* Inner Box  */
/* ******************************************************* */

#follow-main {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding-bottom: 10px;
}

#follow-us-text{
    font-family: 'Open Sans';
    padding: 10px 20px;
    font-weight: 700;
}

#follow-us {
    /* background-color: plum; */
    display: flex;
    flex-direction: column;
}

#follow-us-icons {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#follow-us-icon {
    padding-left: 10px;
}

#envelope{
    background-color: grey;
    margin: 10px;
    padding: 1px 5px;
    border-radius: 2px;
}

#contact-us {
    display: flex;
    justify-items: center;
    margin-left: 100px;
}

#contact-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */
    width: max-content;

}

/* ******************************************************* */
            /* Privacy  */
/* ******************************************************* */

#privacy {
    background-color: white;
    border-top: 0.1px solid grey;
}

#privacy-items {
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 10px;
}

#privacy-item {
    display: flex;
    margin: 10px 15px;
    font-size: 12px;
    flex-shrink: 0;
}

/* ******************************************************* */
            /* Footer  */
/* ******************************************************* */

#footer {
    background-color: #E92563;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}


/* ******************************************************* */
            /* Media Queries  */
/* ******************************************************* */

@media screen and (max-width: 800px) {
    #our-services{
        flex-direction: column;
        box-shadow: none;
    }
}

@media screen and (max-width: 700px) {
    #our-services{
        flex-direction: column;
        box-shadow: none;
    }
    #privacy-items {
        display: flex;
        flex-direction: row;
        padding: 10px;
        flex-shrink: 0;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

}